<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>À propos</title>
  <!-- Liens CDN Bootstrap -->
  <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css"
          rel="stylesheet"
  />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
  <style>
        .custom-navbar {
            background-color: #8DC63F;
            color: black;
        }
        .custom-btn-size {
          font-size: 200px;
          padding: 12px 24px;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark custom-navbar">
  <a class="navbar-brand" href="/">StreamLive</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/accueil"><i class="bi bi-house-fill"></i> Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/profil/"><i class="bi bi-person-fill"></i> Profil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="bi bi-info-circle-fill"></i> A propos</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" style="margin-left: auto;">
      <li class="nav-item">
        <a class="nav-link" style="color:black; display: flex; align-items: center;" href="/login"><i class="bi bi-box-arrow-right"></i> Logout</a>
      </li>
    </ul>
  </div>
</nav>

<header class="container">
  <h1 class="text-center">À propos de notre projet de chat vidéo aléatoire</h1>
</header>



<section id="introduction" class="container mt-5">
  <h2>Introduction</h2>
  <p>Notre projet de chat vidéo aléatoire vise à offrir une plateforme permettant aux utilisateurs de discuter avec des étrangers de manière aléatoire. Il offre une expérience de conversation unique et spontanée, favorisant les rencontres et les échanges avec des personnes du monde entier.</p>
</section>

<section id="mission-vision" class="container mt-5">
  <h2>Mission et vision</h2>
  <p>Notre mission est de créer un environnement convivial et sécurisé où les utilisateurs peuvent se connecter, échanger et découvrir de nouvelles cultures et perspectives. Nous visons à faciliter les connexions authentiques et enrichissantes entre les individus, en permettant des conversations vidéo aléatoires basées sur des intérêts communs.</p>
</section>

<section id="equipe" class="container mt-5">
  <h2>Équipe</h2>
  <ul>
    <li>NIRISON Lalaina Solofo Njaratiana - Développeur principal</li>
  </ul>
</section>

<section id="technologies" class="container mt-5">
  <h2>Technologies utilisées</h2>
  <ul>
    <li>Spring Boot (Java) - Framework de développement backend</li>
    <li>MySQL - Base de données pour le stockage des informations</li>
    <li>WebRTC - Technologie de communication en temps réel pour la connexion vidéo peer-to-peer</li>
    <li>HTML, CSS, JavaScript - Langages de développement front-end</li>
  </ul>
</section>

<section id="fonctionnalites" class="container mt-5">
  <h2>Fonctionnalités principales</h2>
  <ul>
    <li>Chat vidéo aléatoire avec des étrangers</li>
    <li>Connexion basée sur des intérêts communs</li>
    <li>Fonctionnalités de sécurité et de confidentialité pour une expérience utilisateur sûre</li>
  </ul>
</section>

<section id="roadmap" class="container mt-5">
  <h2>Roadmap</h2>
  <p>Nous prévoyons de continuer à améliorer notre projet en étendant sa portée et ses fonctionnalités. Notre objectif futur est de le déployer dans notre établissement pour faciliter les interactions entre les étudiants et de permettre des conversations enrichissantes.</p>
</section>

<section id="contact" class="container mt-5">
  <h2>Contactez-nous</h2>
  <p>Pour toute question ou suggestion, n'hésitez pas à nous contacter :</p>
  <ul>
    <li>Nom : NIRISON Lalaina Solofo Njaratiana</li>
    <li>Email : nambitsoanjaratiana@gmail.com</li>
    <li>Téléphone : +261349143140</li>
  </ul>
</section>

<section id="politique-confidentialite" class="container mt-5">
  <h2>Politique de confidentialité</h2>
  <p>Notre politique de confidentialité vise à protéger les informations personnelles des utilisateurs. Nous ne collectons que les données nécessaires au fonctionnement du service et nous nous engageons à ne pas les partager avec des tiers sans le consentement des utilisateurs.</p>
</section>

<footer class="container mt-5 mb-3">
  <p class="text-center">&copy; 2023 StreamLive - Tous droits réservés.</p>
</footer>

<!-- Scripts Bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
